<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Page Not Found</title>
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/bootstrap.min.css" />
    <link rel="stylesheet" href="../css/404.css" />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i&amp;subset=vietnamese"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="404" class="pageNot text-center wrap-flex-align">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="content-pagenot">
          <h1>Page Not Found</h1>
          <p class="subtext">
            Sorry, we can't find the page you're looking for
          </p>
          <a href="../pages/index.html">Back to homepage</a>
        </div>
      </div>
    </div>
  </body>
</html>
