<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>footer</title>

    <link rel="stylesheet" href="../css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" />
    <link rel="stylesheet" href="../css/dark.css" type="text/css" />
    <link rel="stylesheet" href="../css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="../css/custom.css" type="text/css" />
  </head>
  <body>
    <div id="wrapper" class="clearfix">
      <footer id="footer" class="bg-white border-width-1 border-f5">
        <div class="container">
          <div class="footer-widgets-wrap">
            <div class="row justify-content-between col-mb-50">
              <div class="col-md-5">
                <div class="widget clearfix">
                  <p class="text-larger mb-0">
                    <i class="icon-email3"> </i>
                    <span class="color"> Đăng ký </span> <span> nhận tin </span> <br />
                    <i class="icon-phone"> </i> <span> Hỗ trợ / Mua hàng: </span>
                    <a href="tel:+84 187333178"> +84 187333178 </a>
                  </p>
                </div>
              </div>
              <div class="col-md-5">
                <div class="widget subscribe-widget clearfix">
                  <div class="widget-subscribe-form-result"></div>
                  <form
                    id="widget-subscribe-form"
                    action=""
                    method="post"
                    class="mb-0"
                  >
                    <div class="input-group input-group-lg">
                      <input
                        type="email"
                        id="widget-subscribe-form-email"
                        name="widget-subscribe-form-email"
                        class="form-control required email rounded-0"
                        placeholder="Nhập email của bạn"
                      />
                      <button
                        class="button button-rounded button-large rounded-0 text-uppercase"
                        type="submit"
                      >
                        Đăng ký
                      </button>
                    </div>
                  </form>
                </div>
                <div class="mt-3 d-flex justify-content-md-end">
                  <a
                    href="#"
                    class="social-icon si-small si-borderless si-facebook"
                  >
                    <i class="icon-facebook"></i>
                    <i class="icon-facebook"></i>
                  </a>
                  <a
                    href="#"
                    class="social-icon si-small si-borderless si-twitter"
                  >
                    <i class="icon-twitter"></i>
                    <i class="icon-twitter"></i>
                  </a>
                  <a
                    href="#"
                    class="social-icon si-small si-borderless si-gplus"
                  >
                    <i class="icon-gplus"></i>
                    <i class="icon-gplus"></i>
                  </a>
                  <a
                    href="#"
                    class="social-icon si-small si-borderless si-pinterest"
                  >
                    <i class="icon-pinterest"></i>
                    <i class="icon-pinterest"></i>
                  </a>
                </div>
              </div>
            </div>
            <div class="clear line border-width-4 border-dark"></div>
                <div class="row gutter-50 justify-content-between">
                  <div class="col-xs-12 col-sm-6 col-md-4 col-lg">
                    <div class="widget widget_links clearfix">
                      <h4 class="ls0">Giới thiệu</h4>
                      <p>
                        Nội thất truyền thống Online số 1 Việt nam Chúng tôi
                        phân phối những sản phẩm nội thất nhẹ nhàng, tinh tế với
                        mong muốn bạn và gia đình luôn cảm thấy vui vẻ, thoải
                        mái và thư giãn khi sum họp bên bữa cơm gia đình, cảm
                        xúc tự tin khi tiếp đãi Khách đến thăm nhà.
                      </p>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-2 col-lg">
                    <div class="widget widget_links clearfix">
                      <h4 class="ls0">Liên kết</h4>
                      <ul>
                        <li><a href="#">Tìm kiếm</a></li>
                        <li><a href="#">Giới thiệu</a></li>
                        <li><a href="#">Chính sách đổi trả</a></li>
                        <li><a href="#">Chính sách bảo mật</a></li>
                        <li><a href="#">Điều khoản dịch vụ</a></li>
                        <li><a href="#">Liên hệ</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                    <div class="widget widget_links clearfix">
                      <h4 class="ls0">Thông tin liên hệ</h4>
                      <span class="icon-location-arrow1">
                        235 Đ. Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh, Việt Nam
                      </span> <br> <span class="icon-phone"></span> +84 187333178<br> <span class="icon-email3"></span> lce@gmail.com
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6 col-md-3 col-lg">
                    <div class="widget clearfix">
                      <h4 class="ls0">FANPAGE</h4>
                    </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
