<div>
  <div id="wrapper" class="clearfix">
    <section id="content">
      <div class="content-wrap">
        <div class="container clearfix">
          <div class="row col-mb-50 mb-0">
            <div class="col-12 text-center">
              <div class="align-middle">
                <h2 class="text-uppercase mb-0" style="letter-spacing: 1">
                  Chúng tôi là L'CE
                </h2>
                <h3 class="text-muted fw-light mb-0">
                  Tinh gọn - Ấm áp - Thăng hoa
                </h3>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 p-0">
              <div style="padding: 5vh 1vw">
                <h3 class="mb-0">Thương hiệu L'CE</h3>
                Chúng tôi cung cấp những sản phẩm tội thất làm thăng hoa cảm xúc
                gia đình, hóa giải mọi vấn đề khi bạn về nhà.
              </div>
            </div>
            <div class="col-md-6 col-sm-12 p-0">
              <div style="padding-left: 1vw">
                <h3 class="mb-0">Tầm Nhìn</h3>
                <p class="mb-0">
                  Trở thành thương hiệu nội thất lớn nhất đồng hành cùng người
                  Việt Nam.
                </p>
                <h3 class="mb-0">Sứ mệnh</h3>
                <p>
                  Đưa trang trí nội thất Việt Nam lên một tầm cao mới. Giúp các
                  thành viên trong gia đình luôn nghĩ rằng "Tôi muốn về nhà."
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
