
<div id="wrapper" class="clearfix">
  <section id="content">
    <div class="content-wrap">
      <div class="container-fluid">
        <div class="row gutter-10">
          <div class="col-md-4">
            <div 
              style="
                background: url('https://file.hstatic.net/200000243079/file/phong-ngu_dd9752e7d38342a1971b1e28155d2b54.png')
                no-repeat 50% 40%;
                background-size: cover;
                height: 400px;
              "
            >
              <div class="vertical-middle p-4">
                <div class="heading-block m-0 border-0 w-50">
                  <h3
                    class="text-capitalize text-light fw-bold h1 mb-3"
                  >
                    Phòng Ngủ
                  </h3>
                  <a
                    href="#"
                    class="more-link border-dark text-light mb-0 stretched-link"
                    > Xem Ngay <i class="icon-line-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div
              style="
                background: url('https://file.hstatic.net/200000243079/file/phong-bep_4e75f01d39e74e00a72b36fcf371b768.png')
                no-repeat 100% 100%;
                background-size: cover;
                height: 400px;
              "
            >
              <div class="vertical-middle p-4">
                <div class="heading-block m-0 border-0 w-50">
                  <h3
                    class="text-capitalize text-light fw-bold h1 mb-3"
                  >
                    Phòng Bếp
                  </h3>
                  <a
                    href="#"
                    class="more-link border-dark text-light mb-0 stretched-link"
                    > Xem Ngay <i class="icon-line-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div
              style="
                background: url('https://file.hstatic.net/200000243079/file/phong-khach_09e402380edc4c209fcab2caf98e8192.png')
                no-repeat 20% 50%;
                background-size: cover;
                height: 400px;
              "
            >
              <div class="vertical-middle p-4">
                <div class="heading-block m-0 border-0 w-50">
                  <h3
                    class="text-capitalize text-light fw-bold h1 mb-3"
                  >
                    Phòng Khách
                  </h3>
                  <a
                    href="#"
                    class="more-link border-dark text-light mb-0 stretched-link"
                    > Xem Ngay <i class="icon-line-arrow-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>