<div id="wrapper" class="clearfix">
  <section id="content">
    <div class="content-wrap">
      <div class="container clearfix">
        <div class="row">
          <div class="col-12">
            <div class="heading-block">
              <img
                class="mb-3"
                src="https://cdn-icons-png.flaticon.com/512/845/845646.png"
                alt="success icon"
                height="50px"
              />
              <h1 class="h1 fw-bold">Đặt hàng thành công</h1>
              <br />
              <p>
                <span class="text-muted">Mã đơn hàng #100000</span> <br />
                Cám ơn bạn đã mua hàng!
              </p>
            </div>
            <div>
              <a href="#/home">
                <i class="icon-reply1"> </i> Trở về trang chủ
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
